style.
  .footfont {
    font-weight:300;
    font-size:14px;
  }

footer
  .container.text-center
    span.footfont © 2020 Poal.co &nbsp | &nbsp

    a.footfont(style="color:#4163ac;margin-right:10px;" href="https://chat.poal.co" target="_blank") Chat &nbsp|

    a.footfont(style="color:#aaa;margin-right:10px;" href="https://github.com/AOU-poalco/vid8" target="_blank") GitHub &nbsp |

    a.footfont(style="color:#aaa;margin-right:10px;" href="/termsofservice") ToS
