extends ../layout

block content

        style.
                .container div h3 {
                        font-size:23px;
                        font-weight:300;
                }

                .ldBar {
                        margin: 0 auto;
                }

                .left {
                        margin-left:5px
                }



        .container
                div(style="padding-top:75px;max-width:629px;margin:0 auto;")

                        h3 Vid8 is a YouTube alternative powered by Nodetube open-source software. It is designed to be as efficient and effortless as possible from a user's perspective.
                        br
                        h3 And since the software is open source anyone can run their own version of the site. The software has also been designed to be simple and easy to use, both to contribute to and to administer.
                        
                        br

                        h3.
                                For copyright claims, or any other reason, please contact pmyb2[at]poal.co, @PMYB2 on https://poal.co or https://chat.poal.co (no email required).

                        br

                        br
                        h3.fw Instance Details:

                        h4.fw Video File Types Supported: .mp4, .avi, .flv, .m4v, .ogv, .webm, .wmv, .mkv, .mov, .m2t, .mts, .m2ts, .mpg.

                        h4.fw Audio File Types Supported: .mp3, .wav, .ogg, .m4a.

                        h4.fw Image File Types Supported: .png, .jpg, .jpeg, .gif.

                        h4.fw Max Content Rating Allowed: Safe For Work

                        h4.fw Max Upload Size: 500 MB per file

                        h4.fw Max Upload Amount: Unlimited

                        h4.fw Contact: pmyb2[at]poal.co
